<h2>Gratulerer!</h2>

<p>Etter 52 uker så hadde gruppen en avstgemning over alle bilder med en 1. plass fra det første året.</p>

<p>Total antall stemmer gitt: 41</p>

<h1>Resultater</h1>

<p style="font-size: 20px"><strong><em>TODO - grab this data from database and link up images, photographers etc.</em></strong></p>

<h2>1. plass med 5 stemmer:</h2>

Ole-Martin-Mørk

http://www.flickr.com/photos/olemartin/4069606518/

<h2> 2. plass med 4. stemmer: </h2>

Jarle Naustvik

http://www.flickr.com/photos/naustvik/4408786160/

<h2>Delt 3. plass med 3. stemmer: </h2>

Ram Yoga

http://www.flickr.com/photos/ramyoga/3863862273/

Monica Kristiansen

http://www.flickr.com/photos/monicakristiansen/3910004818/
