<h2>Gratulerer!</h2>

<p>Etter 52 uker så hadde gruppen en avstgemning over alle bilder med en 1. plass fra det første året.</p>

<p>Total antall stemmer gitt: 41</p>

<h1>1. plass med 5 stemmer:</h1>

<%= render :partial => 'image', :collection => @first %>

<h1> 2. plass med 4. stemmer: </h1>

<%= render :partial => 'image', :collection => @second %>

<h1>Delt 3. plass med 3. stemmer: </h1>

<%= render :partial => 'image', :collection => @third %>
