<h2>Gratulerer!</h2>

<p>Etter 52 uker så hadde gruppen en avstgemning over alle bilder med en 1. plass fra det første året.</p>

<p>Total antall stemmer gitt: 41</p>

<% (1..3).each do |rank| %>
    <h1><%= rank %>. plass med <%= votes[rank] %> stemmer:</h1>

    <%= render :partial => '/image', :collection => images[rank] %>
<% end %>
