<table class="object_list">
  <thead>
  <tr>
    <th>Runde</th>
    <th>Emne</th>
    <th>Dato</th>
    <th>Bilder</th>
    <th>Stemmer</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'challenge' , :collection => challenges %>
  </tbody>
</table>