<h2>92 runder seinere</h2>

<p>Etter 92 ukentlige runder har TwPhCh gruppen blitt lagt ned. Fra
  <a href="http://www.flickr.com/groups/twphch/discuss/72157625975505972">forummet</a> la vi ut følgende tekst:</p>

<blockquote>
  <p>Alt som går opp - kommer en gang ned, og alt som har en begynnelse - har en slutt.
    Slik er det også for Twitter Photochallenge TwPhCh.</p>

  <p>Som flere av dere har registrert, har engasjementet her på gruppa vært dalende i den siste tiden.
    Det at flere av oss admins også har vært beskjedne i vår entusiasme har nok heller ikke hjulpet situasjonen noe.</p>

  <p>Det uomtvistelige faktum har etter hvert tvunget seg frem - mer og mer tydelig: Noe må gjøres !</p>

  <p>Vi admins har derfor besluttet - at tiden er inne for å avsluttet Twitter Photochallenge.
    Vi har brukt nok tid - og krefter (noen mer enn andre, les:Chris) - og vi innser at det vil kreve mer tid og krefter
    av oss - om vi skal få dette opp på et akseptabelt nivå.
    Den tiden - og de kreftene er vi ikke villig til å sette av.</p>

  <p>Kanskje er det trist.<br/>
    Kanskje er det ikke.<br/>
    Uansett - vi har vært med på at forhåpentligvis noen har tatt mer bilder enn de kanskje opprinnelig ville gjort.</p>
  <ul>
    <li>Vi har vært med på at norske fotografer har blitt bedre kjent, og konkurrert mot hverandre uavhengig av
      fotografisk erfaring og bakgrunn.
    </li>
    <li>Vi har vært med på å &quot;framsnakke&quot; hverandre - og forhåpentligvis gjøre hverandre til bedre fotografer.</li>
    <li>Vi har sett fantastiske bilder delta i konkurransene.</li>
    <li>Vi har sett famlende fotografer feste grepet etter hvert som rundene gikk.</li>
    <li>Vi har sett fotografer komme, og fotografer gå - og tilogmed komme tilbake igjen.</li>
  </ul>
  <p>Dette har utvilsomt hatt en verdi. Forhåpentligvis for flere enn meg.</p>

  <p>Vi avslutter det hele med et avslutningstema.
    Temaet heter &quot;Farvel&quot; - og står som alltid fritt for tolkning.</p>

  <p>Chris har lovt oss å sette i stand en &quot;all-time-high&quot; -avstemming, så vi får kåre det beste bildet av dem alle som
    deltok.<br/>
    Kanskje tilhører bildet tilogmed denne siste runden ? Hvem vet ?</p>

  <p>Så for siste gang kjære foto- og twittervenner: Finn frem kameraet, og gå ut og fotografer. Delta i denne
    historiske
    siste photochallengen i TwPhCh, om ikke annet - for å glede oss admins :-)</p>

  <p>Til slutt vil jeg be om at vi alle lar TwPhCh-navnet få hvile i fred når lysene slukkes - og at vi respekterer at
    dette er et kapittel i våre twitter- og fotoliv, som nå er noe vi må se oss tilbake på.</p>
</blockquote>

<p>Men - mange bra bilder har vært med siden vi startet. Og det informasjon ville vi ikke miste helt. Så her finner man
  alle bilder fra alle runder med resultatene fra runden.</p>

<h2>F.A.Q./O.B.S</h2>

<p>Noen ganger tar det ganske lang tid å få lastet sidene. Det er fordi vi cache mindre i basen enn vi brukte på
  avstemningssidene - mye mer er hentet fra flickr. Grunnen til det er at endringer hos flickr kan gjør at bildene sine
  lenker endre seg over tid - noe vi fikset i avstemningssidene manuelt - men som vi ikke ønsker skal dukker opp her.
  Det er dessverre bare å vente. Vi har brukt serverens caching muligheter - men - fordi sidene er ikke så veldig hyppig
  brukt kan det hender at informasjon må hentes litt mer ofte enn før.</p>

<p>Vi bruker en gratis tjeneste (heroku.com) for sidene. Gratis pakken gir noen begrensninger. Man kan f.e. få en App
  Failed To Respond (502) feil om sidene tar lenger en 30 sek å bygge - noe som f.e. kan hende hvis flickr er treig. Man
  kan også oppleve en Backlog Too Deep (504) feil om for mange bruker sidene. Det er i begge tilfelle bare å prøve en
  refresh av sidene.</p>