<h2>92 runder seinere</h2>

<p>Etter 92 ukentlige runder har TwPhCh gruppen blitt lagt ned. Fra
  <a href="http://www.flickr.com/groups/twphch/discuss/72157625975505972">forummet</a> la vi ut følgende tekst:</p>

<blockquote>
  <p>Alt som går opp - kommer en gang ned, og alt som har en begynnelse - har en slutt.
    Slik er det også for Twitter Photochallenge TwPhCh.</p>

  <p>Som flere av dere har registrert, har engasjementet her på gruppa vært dalende i den siste tiden.
    Det at flere av oss admins også har vært beskjedne i vår entusiasme har nok heller ikke hjulpet situasjonen noe.</p>

  <p>Det uomtvistelige faktum har etter hvert tvunget seg frem - mer og mer tydelig: Noe må gjøres !</p>

  <p>Vi admins har derfor besluttet - at tiden er inne for å avsluttet Twitter Photochallenge.
    Vi har brukt nok tid - og krefter (noen mer enn andre, les:Chris) - og vi innser at det vil kreve mer tid og krefter
    av oss - om vi skal få dette opp på et akseptabelt nivå.
    Den tiden - og de kreftene er vi ikke villig til å sette av.</p>

  <p>Kanskje er det trist.<br/>
    Kanskje er det ikke.<br/>
    Uansett - vi har vært med på at forhåpentligvis noen har tatt mer bilder enn de kanskje opprinnelig ville gjort.</p>
  <ul>
    <li>Vi har vært med på at norske fotografer har blitt bedre kjent, og konkurrert mot hverandre uavhengig av
      fotografisk erfaring og bakgrunn.
    </li>
    <li>Vi har vært med på å "framsnakke" hverandre - og forhåpentligvis gjøre hverandre til bedre fotografer.</li>
    <li>Vi har sett fantastiske bilder delta i konkurransene.</li>
    <li>Vi har sett famlende fotografer feste grepet etter hvert som rundene gikk.</li>
    <li>Vi har sett fotografer komme, og fotografer gå - og tilogmed komme tilbake igjen.</li>
  </ul>
  <p>Dette har utvilsomt hatt en verdi. Forhåpentligvis for flere enn meg.</p>

  <p>Vi avslutter det hele med et avslutningstema.
    Temaet heter "Farvel" - og står som alltid fritt for tolkning.</p>

  <p>Chris har lovt oss å sette i stand en "all-time-high" -avstemming, så vi får kåre det beste bildet av dem alle som
    deltok.<br/>
    Kanskje tilhører bildet tilogmed denne siste runden ? Hvem vet ?</p>

  <p>Så for siste gang kjære foto- og twittervenner: Finn frem kameraet, og gå ut og fotografer. Delta i denne
    historiske
    siste photochallengen i TwPhCh, om ikke annet - for å glede oss admins :-)</p>

  <p>Til slutt vil jeg be om at vi alle lar TwPhCh-navnet få hvile i fred når lysene slukkes - og at vi respekterer at
    dette er et kapittel i våre twitter- og fotoliv, som nå er noe vi må se oss tilbake på.</p>
</blockquote>

<p>Men - mange bra bilder har vært med siden vi startet. Og det informasjon ville vi ikke miste helt. Så her finner man
  alle bilder fra alle runder med resultatene fra runden.</p>