<div class="sidebaritem">
  <h1>Kategorier</h1>

  <div class="sbilinks">
    <ul>
      <% @categories.each do |category| %>
          <li><%= link_to category.title, blogs_path(:category => category.id) %></li>
      <% end %>
      <li><%= link_to 'Alle', blogs_path %></li>
    </ul>
  </div>
</div>
