<% if (image.nil?) %>
    <p>Et bilde fra denne runden fant vi ikke hos flickr.</p>
<% else %>
    <h2>&laquo;<%= image["title"] %>&raquo; av <%= flickr_photographer_name(image["owner"]) %></h2>

    <img src="<%= flickr_image_url(image, 'm') %>" alt="#{image.title}"/>

    <p><%= link_to "Les mer ...", image_path(image['id']), :class => 'open_image_link ajaxable', 'data-id' => image['id'] %></p>
<% end %>